PORT=3000
JWT_SECRET=tu_secreto_super_seguro
DB_NAME=nomina_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# Conexión SAP B1 (SQL Server)
SAP_DB_SERVER=122.8.179.122
SAP_DB_USER=sa
SAP_DB_PASSWORD=r4nD8q8GLaMk$
SAP_DB_NAME=UNHESA

# Correo (Nodemailer / Gmail)
GMAIL_USER=tu_cuenta@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
